#logoIndex{

	height: 30%;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: 20%;
}


#footer{

   position: static;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

#text{
	padding-top: 15px;
	text-align: center;
	padding-bottom: 30px;
}

