
<!-- MISION -->

<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" id="text">
      <h2>MISIÓN</h2>
      <p>Realizar proyectos de responsabilidad social que generen fuente de empleo para personas con discapacidad, tercera edad y madres cabeza de familia a través de la fabricación y venta de galletas, pasteles, gelatinas, y pan gourmet de calidad artesanal.</p>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

<!-- QUIENES SOMOS -->

<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" id="text">
      <h2>¿QUIÉNES SOMOS?</h2>
      <p>Somos una cooperativa formada, dirigida y administrada por y para personas con discapacidad, tercera edad y madres cabeza de familia que generan empleo para estos grupos vulnerables a través de la comercialización de repostería fina, galletas gourmet y artesanales.</p>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

<!-- VISION  -->

<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" id="text">
      <h2>VISIÓN</h2>
      <p>Ser la panificadora de mayor prestigio por calidad y compromiso social en México.</p>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

<!--como ayudar -->
<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" id="text">
      <button type="button" class="btn btn-outline-dark">COMO AYUDAR</button>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>