
       <nav><!--AQUI ESTA EL NAV BAR-->
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">RDataA<i class="large material-icons">work</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
               <li><a href="OperacionesFaqUserLogin.php">FAQ</a></li>
              <li><a href="question.php">Ask A Question</a></li>
              <li><a href="register.php">Register</a></li>
          </ul>
        </div>
      </nav> 
      </div>
   
      <div class="container">
        
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     
     <div class="container">
     <div class="row">
         
    <form id="componentes" action="OperacionesLogin.php" method="POST" >
      <div class="row">
        <div class="input-field col s4"></div>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="email" class="validate" required name="correo">
          <label for="icon_prefix">Email</label>
        </div>
        <div class="input-field col s4"></div>
      </div>
      
        <br>
        <br>
        <br>
        
      <div class="row">
        <div class="input-field col s4"></div>
        <div class="input-field col s4">
          <i class="material-icons prefix">input</i>
          <input id="icon_telephone" type="password" class="validate" required name="contrasena">
          <label for="icon_telephone">Password</label>
        </div>
        <div class="input-field col s4"></div>
      </div>
      
  
      <div class="row">
        <div class="input-field col s5"></div>
        <div class="input-field col s5">
          <label><u><a href="RestorePass.php">I forgot my password</a></u></label>
        </div>
        <div class="input-field col s4"></div>
      </div>
      
      <br>    
      
      <div class="row">
        <div class="input-field col s12">  
      
      <div class="input-field col s5"></div>
          <div class="input-field col s3"> <!--BOTON ENVIAR-->
          <button class="btn waves-effect waves-light" type="submit" name="action">Login
          <i class="material-icons right">vpn_key</i>
          </button>
        </div>
        </form>
        </div>
    </div>
  </div>
 </div>
