
<!-- MIEMBROS -->

<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" id="text">
      <h2><strong>CARAS VEMOS DISCAPACIDADES NO SABEMOS.</strong></h2>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<!--grupo 1-->

<div class="container">
  <div class="row" id="text">

    <div class="col-sm-3">
    	<img src="../resources/logo.png">
    	<p><strong>ANA YOLANDA LÓPEZ DOMÍNGUEZ</strong></p>
    	<p>Directora general</p>
		<p>Parálisis cerebral</p> 
		<p>Discapacidad motriz</p>
    </div>

    <div class="col-sm-3">
    	<img src="../resources/logo.png" >
    	<p><strong>SALVADOR GUSTAVO MONTES BASALDUA</strong></p>
    	<p>Marketing Digital y ventas de embajador</p>
		<p>Parálisis cerebral</p> 
		<p>Discapacidad motriz</p>
    </div>

    <div class="col-sm-3">
    	<img src="../resources/logo.png">
    	<p><strong>SALVADOR LOPEZ OROZCO</strong></p>
    	<p>Administración</p> 
		<p>Tercera edad</p>
    </div>

    <div class="col-sm-3">
    	<img src="../resources/logo.png">
    	<p><strong>VALENTINA LÓPEZ DOMÍNGUEZ</strong></p>
    	<p>Gerente de producción</p> 
    </div>

  </div>
</div>

<!--grupo 2-->

<div class="container">
  <div class="row" id="text">

    <div class="col-sm-3">
    	<img src="../resources/logo.png">
    	<p><strong>Ismael Ortiz Martínez</strong></p>
    	<p>Maestro panadero</p>
		<p>Discapacidad visual</p> 
    </div>

    <div class="col-sm-3">
    	<img src="../resources/logo.png" >
    	<p><strong>Saul Gómez Mejía</strong></p>
    	<p>Maestro panadero</p>
		<p>Asmático</p> 
    </div>

    <div class="col-sm-3">
    	<img src="../resources/logo.png">
    	<p><strong>Ulises Alejandro Abad Solís</strong></p>
    	<p>Empaquetador, surtidor</p> 
		<p>Discapacidad auditiva</p>
    </div>

    <div class="col-sm-3">
    	<img src="../resources/logo.png">
    	<p><strong>Elena Nicolas Sierra</strong></p>
    	<p>Asistencia de panadero</p> 
    	<p>Madre soltera, tercera edad</p> 
    </div>

  </div>
</div>


<!--grupo 3-->

<div class="container">
  <div class="row" id="text">

    <div class="col-sm-3">
    	<img src="../resources/logo.png">
    	<p><strong>Lucila Robles Padilla</strong></p>
    	<p>Limpieza</p>
		<p>Madre cabeza de familia</p> 
    </div>

    <div class="col-sm-3">
    	<img src="../resources/logo.png" >
    	<p><strong>Maritza Rodriguez Munguia</strong></p>
    	<p>Suministro de materiales</p>
    </div>

    <div class="col-sm-3">
    	<img src="../resources/logo.png">
    	<p><strong>Silvia Chombo Mondragon</strong></p>
    	<p>Discapacidad sensorial y visual</p> 
    </div>

    <div class="col-sm-3">
    	<img src="../resources/logo.png">
    	<p><strong>Maricarmen Martínez Pérez</strong></p>
    	<p>Ventas de embajador</p> 
    	<p>Tercera edad</p> 
    </div>

  </div>
</div>