
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
      </main>
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col s6">
              <h3 class="white-text">RDataA</h3>
            </div>
            <div class="col s6">
              <h3 class="white-text">CINVESTAV</h3>
            </div>
          </div>
        </div>
      </footer>
  </body>
</html>
