
    </main>

      <div class="row " id="footer">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">PAN Q' AYUDA</h5>
              <i class="fa fa-facebook"></i>
              <i class="fa fa-instagram"></i>
              <i class="fa fa-youtube-play"></i>
              <i class="fa fa-linkedin"></i>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
               <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

  </body>
</html>
